<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>

     <add key="filePath" value="C:\StopFiles\"/>
     <add key ="pathToSaveFile" value="C:\StopFiles\"/>
     <add key ="publicKeyFile"  value="C:\StopFiles\pecom-public-key.asc"/>
     <add key ="FileType"  value="*.txt"/>
  </appSettings>

</configuration>